  #page-favorites{
    display: flex;
    height: 100vmin;
    width: 90%;
    margin-left: 5%;
    flex-wrap: wrap;
    /* align-content: space-around; */
    gap: 1em;
    text-align: center;
    background-color:rgba(232, 233, 234, 0.342);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    border-radius: 8px;
    padding: 5em;
    /* align-content: normal; */
  }



